.container {
  display: flex;
  justify-content: center;
  width: 65%;
  background-color: rgb(247, 247, 247);
  box-shadow: 4px 2px 15px rgb(218, 218, 218);
  border-radius: 20px;
  padding: 40px;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}