/* .btn btn-light {
  width: 40%;
  margin-bottom: 60px !important;
  background: linear-gradient(to right, #f6ffc1, #ffffff); 
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
  height: 40px;
  text-decoration:none;
  margin-bottom: 100px;
} */