.dropDown {
  box-shadow: inset -9px 0px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 9px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  margin-bottom: 100px;
}