.formControl {
  width: 40%;
  margin-bottom: 60px !important;
  background: linear-gradient(to right, #f6ffc1, #ffffff); 
  border-radius: 20px;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 50px;
  border: 0;
}