body {
  background-color: rgba(255, 170, 170, 0.274);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  margin-bottom: 150px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 320px;
  margin-top: 18px;
  filter:drop-shadow(7px 7px 7px rgb(85, 85, 85)); 
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
